{
  "jsc": {
    "externalHelpers": false,
    "parser": {
      "syntax": "typescript",
      "tsx": false,
      "decorators": false,
      "dynamicImport": false
    }
  },
  "module": {
    "type": "umd",
    "globals": {},
    "strict": false,
    "strictMode": true,
    "lazy": false,
    "noInterop": false
  }
}
