<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>UI</title>
    <!-- https://www.sitepoint.com/a-basic-html5-template/#thecompletehtml5boilerplate -->
    <meta
      name="description"
      content="A simple HTML5 Template for new projects."
    />
    <meta name="author" content="SitePoint" />

    <meta property="og:title" content="A Basic HTML5 Template" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content="https://www.sitepoint.com/a-basic-html5-template/"
    />
    <meta
      property="og:description"
      content="A simple HTML5 Template for new projects."
    />
    <meta property="og:image" content="image.png" />

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;700&family=Monda:wght@400;700" rel="stylesheet" />

    <link rel="stylesheet" href="./styles.css?v=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <script src="../index.js"></script>
  </head>

  <body>
    <background-noise>
      <grid-base>
        <injected-content />
          <!-- Injection point for Rust -->
        </injected-content>
      </grid-base>
    </background-noise>
  </body>
</html>
